<p>
  Different notes can sound different with different chords underneath them. In
  this exercise you'll hear a chord with a high note emphasized, and you'll be
  prompted not only to identify the scale degree of the note (denoted with a
  solfege syllable), but also the chord degree. (Denoted with a number)
</p>
<p>
  <b>For example:</b> In the key of C, La5 is the 6th degree (aka A) as the 5th
  of a chord, which happened to be the ii chord (aka Dm)
</p>
<app-info-panel>
  This exercise is most affective while practicing with the same scale degree
  and different chord degrees.
</app-info-panel>
