@use "main" as *;

.exercise {
  &__content-container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__info {
    color: var(--ion-color-medium);
  }

  &__answers-container {
    min-height: 20 * $unit;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__actions-container {
    display: flex;
    padding-bottom: 3 * $unit;

    ion-button {
      flex-grow: 1;
    }
  }
}

ion-title {
  padding: 0;
}

.video-container {
  flex-grow: 1;
  text-align: center;
}
