<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{state.name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="exercise__content-container">
    <div class="exercise__answers-container"></div>
    <div class="exercise__answers-buttons-container">
      <ion-button
        *ngFor="let answer of state.answerList"
        (click)="onAnswer(answer)"
        [color]="wrongAnswers.includes(answer) ? 'danger' : answer === rightAnswer ? 'success' : 'light'"
      >
        {{answer}}
      </ion-button>
    </div>
    <div class="exercise__actions-container">
      <ion-button
        (click)="state.playCurrentQuestion()"
      >
        Repeat
      </ion-button>
      <ion-button
        [disabled]="!rightAnswer"
        (click)="nextQuestion()"
      >
        Next
      </ion-button>
    </div>
  </div>
</ion-content>
