<ion-header [translucent]="true">
  <ion-toolbar [color]="'primary'">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{state.name}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="editSettings()">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="exercise__content-container">
    <div class="exercise__stats-container">
      Correct answers: {{state.totalCorrectAnswers}}/{{state.totalQuestions}} ({{correctAnswersPercentage | number: '1.0-2'}}%)
    </div>
    <div class="exercise__answers-container">
      <app-answer-indication
        *ngFor="let answer of state.currentAnswers"
        [answer]="answer.answer"
        [wasAnsweredWrong]="answer.wasWrong"
      ></app-answer-indication>
    </div>
    <div
      *ngIf="!isAutoLayout"
      class="exercise__answers-rows-container"
    >
      <div
        *ngFor="let row of state.answerList.rows"
        class="exercise__answers-row"
      >
        <ng-container
          *ngFor="let answer of row"
          [ngTemplateOutlet]="answerButton"
          [ngTemplateOutletContext]="{$implicit: answer}"
        ></ng-container>
      </div>
    </div>
    <div
      *ngIf="isAutoLayout"
      class="exercise__answers-buttons-auto-layout-container"
    >
      <ng-container
        *ngFor="let answer of state.answerList"
        [ngTemplateOutlet]="answerButton"
        [ngTemplateOutletContext]="{$implicit: answer}"
      ></ng-container>
    </div>
    <ng-template
      let-answer
      #answerButton
    >
      <ion-button
        [class.--right]="answer === rightAnswer"
        (click)="onAnswer(answer)"
        [class.--wrong]="wrongAnswer === answer"
        [color]="'light'"
        class="exercise__answer-button"
      >
        {{answer}}
      </ion-button>
    </ng-template>
    <div class="exercise__actions-container">
      <ion-button
        (click)="state.playCurrentCadenceAndQuestion()"
      >
        <ion-icon name="repeat"></ion-icon>
        Repeat
      </ion-button>
      <ion-button
        (click)="state.playCurrentQuestion()"
      >
        <ion-icon name="musical-note"></ion-icon>
      </ion-button>
      <ion-button
        [disabled]="!isQuestionCompleted"
        (click)="nextQuestion()"
      >
        Next
      </ion-button>
    </div>
  </div>
</ion-content>
