<ion-header [translucent]="true">
  <ion-toolbar [color]="'primary'">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title (click)="onTitleClick()">
      {{state.name}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button
        (click)="editSettings()"
        [bdcWalkTriggerFor]="taskEditSettings"
      >
        <ion-icon
          slot="icon-only"
          name="settings-outline"
        ></ion-icon>
      </ion-button>
      <ion-button id="menu-button">
        <ion-icon
          slot="icon-only"
          name="ellipsis-vertical"
        ></ion-icon>
      </ion-button>
      <ion-popover
        trigger="menu-button"
        side="bottom"
        [dismissOnSelect]="true"
      >
        <ng-template>
          <ion-list>
            <ion-item
              (click)="resetStatistics()"
              button
            >
              Reset statistics
            </ion-item>
            <ion-item
              *ngIf="state.exercise.explanation"
              (click)="exerciseExplanation.openExplanation()"
              button
            >
              Help
            </ion-item>
          </ion-list>
        </ng-template>
      </ion-popover>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content
  [fullscreen]="true"
  [padding]="true"
>
  <div class="exercise__content-container" cdkDropListGroup>
    <section>
      <p
        *ngIf="!state.globalSettings.answerQuestionAutomatically"
        class="exercise__stats-container"
      >
        Correct answers: {{state.totalCorrectAnswers}}/{{state.totalQuestions}}
        ({{correctAnswersPercentage | number: '1.0-2'}}%)
      </p>
      <p
        class="exercise__info"
        *ngIf="state.info"
      >
        {{state.info}}
      </p>
    </section>
    <div class="exercise__answers-container">
      <!--TODO: that causes a change detection issue-->
      <div *ngFor="let answersPlayedTogether of (getCurrentAnswersLayout | pureFunction: state.currentAnswers : state.currentQuestion)">
        <app-answer-indication
          *ngFor="let answer of answersPlayedTogether"
          [answerDisplay]="state.answerToLabelStringMap[answer.answer]"
          [isFocused]="state.currentlyPlayingSegments.has(answer.index)"
          [wasAnsweredWrong]="answer.wasWrong"
          cdkDropList
          [cdkDropListData]="answer.index"
        ></app-answer-indication>
      </div>
    </div>
    <app-answers-layout
      [answerList]="state.answerList"
      [buttonTemplate]="answerButton"
    ></app-answers-layout>
    <ng-template
      let-answerConfig
      #answerButton
    >
      <div cdkDropList>
        <ion-button
          cdkDrag
          [cdkDragData]="answerConfig"
          (cdkDragDropped)="onDragDropped($event)"
          *ngIf="answerConfig.answer as answer"
          class="exercise__answer-button"
          (click)="onAnswerClick(answerConfig)"
          [disabled]="!state.isAnswerEnabled"
          [class.--right]="answer === rightAnswer"
          [class.--highlighted]="answer === state.highlightedAnswer"
          [class.--wrong]="wrongAnswers.includes(answer)"
          [color]="'light'"
        >
          <ng-container *cdkDragPlaceholder></ng-container>
          <span
            [innerHTML]="answerConfig.displayLabel"
          ></span>
        </ion-button>
      </div>
    </ng-template>
    <div class="exercise__actions-container">
      <ion-button
        [disabled]="!state.playerReady"
        (click)="state.playCurrentCadenceAndQuestion()"
      >
        <ion-icon name="repeat"></ion-icon>
        Repeat
      </ion-button>
      <ion-button
        *ngIf="state.hasCadence"
        [disabled]="!state.playerReady"
        (click)="state.playCurrentQuestion()"
      >
        <ion-icon name="musical-note"></ion-icon>
      </ion-button>
      <ion-button
        [disabled]="!state.isQuestionCompleted"
        (click)="state.nextQuestion()"
      >
        Next
      </ion-button>
    </div>
  </div>
</ion-content>

<!--Walk-through popups-->
<bdc-walk-popup
  [header]="'Tip!'"
  name="taskEditSettings"
  #taskEditSettings
  [mustCompleted]="{taskViewExplanation: true}"
  [showButton]="true"
>
  Click here for more options and to adjust difficulty level
</bdc-walk-popup>
