<p>
  In this exercise you will hear a triad in one of the three possible
  inversions, and you will need to identify what inversion it is.
</p>
<p>
  An inversion is the order of which the chord notes are played (from lowest to
  highest).
</p>
<p>Here are the possible inversions:</p>
<ul>
  <li><b>Root position</b> (Example: C E G). Also called: 5th position</li>
  <li><b>First inversion</b> (Example: E G C). Also called: Octave position</li>
  <li><b>Second inversion</b> (Example: G C E). Also called: 3rd position</li>
</ul>
<app-info-panel>
  If you're just starting out, check out the "Arpeggiate Speed" field in the
  settings.
</app-info-panel>
<!--Consider if this is needed or not-->
<!--<p>
  All chords in this exercise will be <b>from the same key</b> -
  This to simulate a real music situation where chords are not being picked at random, but usually belong to the same key.
</p>-->
