<ion-header [translucent]="true">
  <ion-toolbar [color]="'primary'">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      About OpenEar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  [fullscreen]="true"
  [padding]="true"
>
  <p>Version: {{versionService.version$ | async}}</p>
  <p>
    <b>OpenEar</b> is a free and open-source application for musical hearing training.
    In contains many useful and effective exercise anyone can do on the go, which do not exists in any other app.
    This is just a beta version and we hope that the app will continue to grow with more features and exercises.
  </p>

  <h1>Feedback</h1>
  <p>To report bugs or request features please visit <a href="https://github.com/ShacharHarshuv/open-ear/issues/new"
                                                        target="_blank">our github page</a></p>
  <p>Alternatively you can <a href="mailto:shachar.harshuv@gmail.com">write an email</a></p>

  <h1>Contribution</h1>
  <p>
    If you have some basic programming skills, you can contribute your time by expanding the app features!
    Any contribution is very much welcome.
    Check out this <a href="" target="_blank">readme</a> to get started.
  </p>
  <p>Don't know what to contribute? Have a quick look at our <a href="https://github.com/ShacharHarshuv/open-ear/issues"
                                                                target="_blank">open issues</a> list.</p>
</ion-content>
