@use "sass:math";
@use "main" as *;

:host {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  gap: math.div($unit, 2);
  margin-bottom: math.div($unit, 2);
  height: 4.5 * $unit;
  align-items: center;

  > * {
    min-width: 0;
    flex: 1;
  }
}
