@use "main" as *;

:host {
  display: flex;
  gap: $unit;
  // 48px meets the standard minimum recommended touch target size
  height: 6 * $unit;
  align-items: center;

  > * {
    min-width: 0;
    flex: 1;
  }
}
