<ion-header [translucent]="true">
  <ion-toolbar [color]="'primary'">
    <ion-title>
      {{exerciseName}} Settings
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label>Play Cadence</ion-label>
      <ion-select
        [formControl]="generalFormGroup.controls.playCadenceOptions"
        [interface]="'popover'"
      >
        <ion-select-option [value]="'ALWAYS'">Always</ion-select-option>
        <!--TODO(OE-13)-->
        <!--<ion-select-option value="'EVERY'">Every...</ion-select-option>-->
        <!--TODO(OE-12)-->
        <!--<ion-select-option [value]="'EVERY_NEW_KEY'">Once for a new key</ion-select-option>-->
        <ion-select-option [value]="'NEVER'">Never</ion-select-option>
        <ion-select-option [value]="'ONLY_ON_REPEAT'">Only on repeat</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <app-included-answers [allAvailableAnswers]="allAvailableAnswers"></app-included-answers>

  <ion-list *ngIf="exerciseFormGroup">
    <ng-container *ngFor="let exerciseControlSettings of exerciseSettingsDescriptor">
      <ion-item class="exercise-settings__item --label-above">
        <ion-label>{{exerciseControlSettings.descriptor.label}}</ion-label>
        <ng-container [ngSwitch]="exerciseControlSettings.descriptor.controlType">
          <ion-range
            *ngSwitchCase="'SLIDER'"
            [formControl]="exerciseFormGroup.controls[exerciseControlSettings.key]"
            [max]="exerciseControlSettings.descriptor.max"
            [min]="exerciseControlSettings.descriptor.min"
            [snaps]="true"
            [step]="exerciseControlSettings.descriptor.step"
            pin
          >
          </ion-range>
        </ng-container>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
