<app-modal-frame
  title="{{exerciseName}} Settings"
  [padding]="false"
  [onClose]="onClose.bind(this)"
  closeIcon="checkmark-outline"
>
  <ion-list>
    <ion-item>
      <ion-label>
        Sound <app-field-info message="Choose instrument sound that will be playing the questions. Use this to get used to different tibres"></app-field-info>
      </ion-label>
      <ion-select
        [formControl]="generalFormGroup.controls.instrument"
        [interface]="'popover'"
      >
        <ion-select-option
          *ngFor="let instrumentOption of instrumentOptions"
          [value]="instrumentOption.value"
        >
          {{instrumentOption.label}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label
        >Play Cadence<app-field-info
          message="Choose when the cadence is played. Relevant only to exercises that play a Cadence."
        ></app-field-info
      ></ion-label>
      <ion-select
        [formControl]="generalFormGroup.controls.playCadenceOptions"
        [interface]="'popover'"
      >
        <ion-select-option [value]="'ALWAYS'">Always</ion-select-option>
        <!--TODO(OE-13)-->
        <!--<ion-select-option value="'EVERY'">Every...</ion-select-option>-->
        <ion-select-option [value]="'NEVER'">Every New Key</ion-select-option>
        <ion-select-option [value]="'ONLY_ON_REPEAT'"
          >Only on repeat</ion-select-option
        >
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label
        >Auto-play next question
        <app-field-info
          message="Next question will be played immediately after answering current question"
        ></app-field-info
      ></ion-label>
      <ion-toggle
        [formControl]="generalFormGroup.controls.moveToNextQuestionAutomatically"
      >
      </ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>
        Answer question automatically
        <app-field-info
          message='Current answer will be displayed automatically. Use this together with "resolution" and "move automatically to next question" to create a "listening mode" where questions and resolutions will be played consecutively and help train your musical memory.'
        ></app-field-info>
      </ion-label>
      <ion-toggle
        [formControl]="generalFormGroup.controls.answerQuestionAutomatically"
      >
      </ion-toggle>
    </ion-item>
    <ion-item class="exercise-settings__item --label-above">
      <ion-label
        >BPM
        <app-field-info
          message="Tempo in Beats Per Minute. Change this to control the speed of the question's playback."
        ></app-field-info
      ></ion-label>
      <ion-range
        [formControl]="generalFormGroup.controls.bpm"
        [max]="200"
        [min]="40"
        [snaps]="true"
        [step]="1"
        pin
      >
      </ion-range>
    </ion-item>
    <ion-item>
      <ion-label
        >Adaptive
        <app-field-info
          [message]="'When turned on, questions that were answered wrong will repeat until answered right enough time. <br>Great for learning from mistakes.'"
        ></app-field-info
      ></ion-label>
      <ion-toggle
        [formControl]="generalFormGroup.controls.adaptive"
      ></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label
        >Reveal answer after first mistake
        <app-field-info
          [message]="'Even if you got the answer wrong in the first attempt, the correct answer will be revealed. <br> Turn it off if you want a second chance to guess the correct answer'"
        ></app-field-info
      ></ion-label>
      <ion-toggle
        [formControl]="generalFormGroup.controls.revealAnswerAfterFirstMistake"
      ></ion-toggle>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="exerciseFormGroup">
    <ng-container
      *ngFor="let exerciseControlSettings of exerciseSettingsDescriptor"
    >
      <ng-container
        *ngIf="((getControlDescriptorStream | pureFunction: exerciseControlSettings) | async) as descriptor"
      >
        <ng-template #label>
          <ion-label
            >{{descriptor.label}}<app-field-info
              *ngIf="exerciseControlSettings.info"
              [message]="exerciseControlSettings.info"
            ></app-field-info
          ></ion-label>
        </ng-template>
        <ng-container
          *ngIf="isShowExerciseControl(exerciseControlSettings)"
          [ngSwitch]="descriptor.controlType"
        >
          <ion-item *ngSwitchCase="'select'" @collapseVertical>
            <ng-container *ngTemplateOutlet="label"></ng-container>
            <ion-select
              [appExerciseControl]="exerciseControlSettings"
              [interface]="'popover'"
            >
              <ion-select-option
                *ngFor="let option of asSelectControlDescriptor(descriptor).options"
                [value]="option.value"
              >
                {{option.label}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item
            *ngSwitchCase="'slider'"
            class="exercise-settings__item --label-above"
            @collapseVertical
          >
            <ng-container *ngTemplateOutlet="label"></ng-container>
            <ion-range
              [appExerciseControl]="exerciseControlSettings"
              [max]="asSliderControlDescriptor(descriptor).max"
              [min]="asSliderControlDescriptor(descriptor).min"
              [snaps]="true"
              [step]="asSliderControlDescriptor(descriptor).step"
              pin
            >
            </ion-range>
          </ion-item>
          <app-list-select
            *ngSwitchCase="'list-select'"
            [allAvailableOptions]="asListSelectControlDescriptor(descriptor).allOptions"
            [appExerciseControl]="exerciseControlSettings"
            [label]="descriptor.label"
            @collapseVertical
          >
            <app-field-info
              *ngIf="exerciseControlSettings.info"
              [message]="exerciseControlSettings.info"
              list-select-proj__after-label
            ></app-field-info>
          </app-list-select>
          <ion-item *ngSwitchCase="'checkbox'" @collapseVertical>
            <ng-container *ngTemplateOutlet="label"></ng-container>
            <ion-toggle
              [appExerciseControl]="exerciseControlSettings"
              slot="end"
            ></ion-toggle>
          </ion-item>
          <ion-list *ngSwitchCase="'included-answers'">
            <ion-list-header
              >{{descriptor.label}}<app-field-info
                *ngIf="exerciseControlSettings.info"
                [message]="exerciseControlSettings.info"
              ></app-field-info
            ></ion-list-header>
            <app-included-answers
              [answerList]="asIncludedAnswersControlDescriptor(descriptor).answerList"
              [appExerciseControl]="exerciseControlSettings"
            ></app-included-answers>
          </ion-list>
        </ng-container>
      </ng-container>
    </ng-container>
  </ion-list>
</app-modal-frame>
