<app-info-panel>
  If you haven't already - check out the <a routerLink="./chordInKey">Chord in Key</a> exercise for a basic introduction to chord progressions and Roman Analysis.
</app-info-panel>

<p>
  In this exercise, you can choose from a set of predefined progressions to practice.
</p>
<p>
  The available progressions are one of the most popular chord progressions in popular music. If you think there is an important progression we missed, feel free to
  <a href="https://github.com/ShacharHarshuv/open-ear/issues">open an issue in Github</a> or <a href="https://github.com/ShacharHarshuv/open-ear#readme">create a pull request</a>
</p>

<app-info-panel>
  <b>Tip!</b> Try to think of songs you know that use each progression.
</app-info-panel>
