<p>
  In this exercise you will be given a series of chords (cadence) to establish a tonal center.
  Then a note (or a series of notes) will be played and you will be asked to find the scale degree of the note.
</p>

<app-info-panel>
  <b>Tip!</b> If you're just starting out, it's better to practice on just a few scale degrees. Starting from Do, Re
  and Mi is recommended.
</app-info-panel>
<app-collapsible>
  <h2>Scales and scale degrees</h2>
  <p>
    The major scale consist of 7 notes that are built from the following intervals:
  </p>
  <app-info-panel>
    tone - tone - semitone - tone - tone - tone - semitone
  </app-info-panel>
  <p>
    For example, the C major scale, consists of the following notes:
  </p>
  <app-info-panel>
    C D E F G A B
  </app-info-panel>
  <p>
    The first note of the scale - also called the tonic - is the "home" note.
    The note that will feel most "resolves" and at "rest".
  </p>
  <p>
    Any other note will have a specific "tension" or "sensation" in relation to the tonic note.
    It might feel as if the note "wants" to resolve to the tonic note.
  </p>
  <p>
    In this example a group of chords will be played to let your mind feel C as the "root note".
    Then the note D will be played, listen to its sense of tension, like it wants to resolve down to C.
  </p>
  <ion-button
    [color]="'light'"
    [playOnClick]="resolutionOfReInC"
  >
    Play
  </ion-button>
  <p>
    In the key of D however, D is the tonic, so it assumes a sensation of rest.
    To avoid confusion between different keys, <b>we use solfege syllables.</b>
  </p>
  <p>
    Each syllable represents a different <b>degree</b> in the scale.
  </p>
  <ul>
    <li><b>Do</b> - 1st Degree (C in C major)</li>
    <li><b>Re</b> - 2nd Degree (D in C major)</li>
    <li><b>Mi</b> - 3rd Degree (E in C major)</li>
    <li><b>Fa</b> - 4th Degree (F in C major)</li>
    <li><b>Sol</b> - 5th Degree (G in C major)</li>
    <li><b>La</b> - 6th Degree (A in C major)</li>
    <li><b>Ti</b> - 7th Degree (B in C major)</li>
  </ul>
  <p>
    After getting a correct answer, the app will play a resolution of the note to the tonic,
    to enforce your memory and sensation of tension and release.
  </p>
  <app-info-panel>
    If you're finding it hard to accomplish, try sing the note and resolve it to the nearest tonic, either above or
    below.
  </app-info-panel>
</app-collapsible>
