@if (customAnswersLayout(); as customAnswersLayout) {
<div
 
  class="answers-layout__answers-rows-container"
>
  @for (row of customAnswersLayout.rows; track row) {
<app-answers-row
   
    [row]="row"
    [buttonTemplate]="buttonTemplate"
    [multiAnswerButtonTemplate]="multiAnswerButtonTemplate"
    [multiAnswerCellConfig]="multiAnswerCellConfig"
  />
}
</div>
}
@if (autoLayoutAnswers()) {
<div
 
  class="answers-layout__answers-buttons-auto-layout-container"
>
  @for (answer of autoLayoutAnswers(); track answer) {
<app-answer-cell
   
    [cell]="answer"
    [buttonTemplate]="buttonTemplate"
    [multiAnswerButtonTemplate]="multiAnswerButtonTemplate"
    [multiAnswerCellConfig]="multiAnswerCellConfig"
  />
}
</div>
}
