@use "main" as *;
@use "sass:math";

:host {
  display: contents;
}

.answers-layout {
  &__answers-rows-container,
  &__answers-buttons-auto-layout-container {
    display: flex;
    flex-direction: column;
    gap: math.div($unit, 2);

    &.--reverse {
      flex-direction: column-reverse;
    }
  }

  &__answers-buttons-auto-layout-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: math.div($unit, 2);

    ion-button {
      flex: 1;
    }
  }
}
