<ng-container *ngIf="value$ | async as value">
  <app-answers-layout
    [answerList]="answerList"
    [buttonTemplate]="buttonTemplate"
  ></app-answers-layout>

  <ng-template
    let-answerConfig
    #buttonTemplate
  >
    <ng-container
      *ngIf="answerConfig.answer as answer"
    >
      <ion-button
        id="answer-btn-{{answer}}"
        [color]="'light'"
        [class.--included]="value.includes(answer)"
        (click)="toggleInclusion(answer)"
        (long-press)="ionPopover.present()"
      >
      <span
        [innerHTML]="answerConfig.displayLabel"
      ></span>
      </ion-button>
      <ion-popover
        trigger="answer-btn-{{answer}}"
        #ionPopover
      >
        <ng-template>
          <ion-content class="ion-padding">
            Hello!
          </ion-content>
        </ng-template>
      </ion-popover>
    </ng-container>
  </ng-template>

</ng-container>
