@if (value$ | async; as value) {
  <span>
    <ion-button
      (click)="toggleSelectAll()"
      fill="clear"
      size="small"
      color="dark"
    >
      {{ areAllAnswersSelected() ? "Deselect all" : "Select all" }}
    </ion-button>
  </span>

  <app-answers-layout
    [answerList]="answerList()"
    [buttonTemplate]="buttonTemplate"
    [multiAnswerButtonTemplate]="multiAnswerButtonTemplate"
    [multiAnswerCellConfig]="{
      dismissOnSelect: false,
      triggerAction: 'context-menu'
    }"
  ></app-answers-layout>

  @if (hasMultiAnswerButtons()) {
    <p class="long-press-hint">Long-press a button to see more options</p>
  }

  <ng-template #buttonTemplate let-answerConfig>
    @if (answerConfig.answer; as answer) {
      <app-included-answers-button
        [included]="value.includes(answer)"
        (click)="toggleInclusion(answer)"
      >
        <span [innerHTML]="answerConfig.displayLabel"></span>
      </app-included-answers-button>
    }
  </ng-template>

  <ng-template #multiAnswerButtonTemplate let-multiAnswerCell>
    <app-included-answers-multi-answer-button
      [multiAnswerCell]="multiAnswerCell"
    />
  </ng-template>
}
