<p>
  In this exercise you will be given a series of chords (cadence) to establish a
  tonal center. Then a chord would be played, and you will be asked to pick the
  roman analysis (degree) of the chord in the context of the key.
</p>
<app-info-panel>
  <b>Tip!</b> Every chord has its own sensation of tension/release. The
  <app-roman-numeral-symbol symbol="I" />
  chord feels most at rest, while the
  <app-roman-numeral-symbol symbol="V" /> has tension - it "wants" to move.
</app-info-panel>
<app-collapsible>
  <h2>Triads & Roman Numerals</h2>
  <p>Triadic chords are chords built from 3 notes using thirds.</p>
  <p>For example, in the key of C major, we can form this chord:</p>
  <app-info-panel><b>C</b> D <b>E</b> F <b>G</b> A B</app-info-panel>
  <p>
    Because it is built starting from the first degree (Tonic note)
    <b>it is called the <app-roman-numeral-symbol symbol="I" /> (one) chord</b>.
    The <app-roman-numeral-symbol symbol="I" /> chord is most "at rest", and
    holds no tension.
  </p>
  <ion-button [color]="'light'" [appPlayOnClick]="cadenceAndIChord">
    Cadence + &nbsp;<app-roman-numeral-symbol symbol="I" />&nbsp; chord
  </ion-button>
  <p>
    We can also build a triad from the 5th degree to form a 'V' (five) chord.
    Notice how this chord holds tension, and wants to resolve to the tonic.
  </p>
  <ion-button [color]="'light'" [appPlayOnClick]="cadenceAndVChord">
    Cadence + &nbsp;<app-roman-numeral-symbol symbol="V" />&nbsp; chord
  </ion-button>
  <p>
    Because the chord sensation is dependant on the key, we use Roman numerals
    to indicate chords numbers in an arbitrary key.
  </p>
  <p>
    Note that we use lower-case to indicate the minor chords
    (<app-roman-numeral-symbol symbol="ii" />,
    <app-roman-numeral-symbol symbol="iii" /> and
    <app-roman-numeral-symbol symbol="vi" />), and dim to indicate diminished
    chords (<app-roman-numeral-symbol symbol="viidim" />)
  </p>

  <h2>Extensions and Inversions</h2>
  <p>
    The roman numeral analysis method was invented mainly with classical music
    in mind, so it's not very good in conveying more complex chords that can be
    found in modern music like Jazz. To accommodate for this, this app uses a
    unique convention for notating extensions and inversions, that is borrowed
    from jazz.
  </p>
  <ul>
    <li>
      Extensions are notated like in Jazz. For example:
      <app-roman-numeral-symbol symbol="I6" /> in C major is C6 (C-E-G-A), NOT
      C/E (C in first inversion)
    </li>
    <!--TODO: add explanation about inversions when we decide to support them-->
  </ul>
</app-collapsible>
