@import 'main';

:host {
  min-width: 5 * $unit;
  max-width: 10 * $unit;
  height: 5 * $unit;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5 * $unit;
  text-align: center;

  &.--focused {
    border: 4px solid #c6ddff;
  }

  &.--wrong {
    color: var(--ion-color-danger);
  }
}

.no-answer {
  opacity: 0.7;
}
