@import 'main';

:host {
  width: 5 * $unit;
  height: 5 * $unit;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

  &.--focused {
    border: 4px solid #c6ddff;
  }
}

.no-answer {
  color: gray;
}
