<p>
  In this exercise you will be required to identify the type of a chord being played. Here are the possible types:
</p>
<ul>
  <li><b>M - Major.</b> Example: C-E-G</li>
  <li><b>m - Minor.</b> Example: A-C-E</li>
</ul>
<app-info-panel>
  <b>Tip! Major chords tend to sound "brighter" and minor chords tend to sound "darker".</b>
  But beware - the feeling of the chord also depends on context.
</app-info-panel>
<p>
  All chords in this exercise will be <b>from the same key</b> -
  This to simulate a real music situation where chords are not being picked at random, but usually belong to the same key.
</p>
