@use "main" as *;

.exercise-explanation {
  &__content {
    flex-grow: 1;
    margin-bottom: 2 * $unit;
  }
}

ion-content {
  &::part(scroll) {
    display: flex;
    flex-direction: column;
  }
}
