@if (answerConfig(); as answerConfig) {
  @if (answerConfig.answer) {
    <div class="answer-cell" [style.flex]="answerConfig.space">
      <ng-template
        [ngTemplateOutlet]="buttonTemplate"
        [ngTemplateOutletContext]="{ $implicit: answerConfig }"
      />
    </div>
  }
  @if (!answerConfig.answer) {
    <div [style.flex]="answerConfig.space"></div>
  }
}
@if (multiAnswerCell(); as multiAnswerCell) {
  <div
    class="answer-cell"
    id="{{ multiAnswerCell.id }}"
    [style.flex]="multiAnswerCell.space"
  >
    @if (
      multiAnswerCellButtonTemplateContext();
      as multiAnswerButtonTemplateContext
    ) {
      <ng-template
        [ngTemplateOutlet]="multiAnswerButtonTemplate"
        [ngTemplateOutletContext]="{
          $implicit: multiAnswerButtonTemplateContext
        }"
      />
    }
    <div class="multi-answer-arrow"></div>
  </div>
  <app-inner-answers
    [innerAnswerList]="multiAnswerCell.innerAnswersList"
    [triggerId]="multiAnswerCell.id"
  />
  @if (multiAnswerCell.innerAnswersList2) {
    <app-inner-answers
      [innerAnswerList]="multiAnswerCell.innerAnswersList2"
      [triggerId]="multiAnswerCell.id"
    />
  }
}
