@if (answerConfig(); as answerConfig) {
  @if (answerConfig.answer) {
    <div class="answer-cell">
      <ng-template
        [ngTemplateOutlet]="buttonTemplate()"
        [ngTemplateOutletContext]="{ $implicit: answerConfig }"
      />
    </div>
  }
}
@if (multiAnswerCell(); as multiAnswerCell) {
  <div
    class="answer-cell"
    #innerAnswersTrigger
    [style.flex]="multiAnswerCell.space"
    (contextmenu)="isOpen.set(true); $event.preventDefault()"
  >
    @if (
      multiAnswerCellButtonTemplateContext();
      as multiAnswerButtonTemplateContext
    ) {
      <ng-template
        [ngTemplateOutlet]="multiAnswerButtonTemplate()"
        [ngTemplateOutletContext]="{
          $implicit: multiAnswerButtonTemplateContext
        }"
      />
    }
    <div class="multi-answer-arrow"></div>
  </div>

  <app-inner-answers
    [innerAnswerList]="multiAnswerCell.innerAnswersList"
    [targetElement]="innerAnswersTrigger"
    side="bottom"
  />

  <!--TODO: consider avoiding this code duplication somehow-->
  @if (multiAnswerCell.innerAnswersList2) {
    <app-inner-answers
      [innerAnswerList]="multiAnswerCell.innerAnswersList2"
      [targetElement]="innerAnswersTrigger"
      side="top"
    />
  }
}
