<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      EarBot
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        EarBot
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <app-exercise-summary *ngFor="let exercise of exerciseList" [exercise]="exercise"></app-exercise-summary>
  </ion-list>
  <ion-button (click)="onPlayClicked()">Play!</ion-button>
</ion-content>
