<ion-header [translucent]="true">
  <ion-toolbar [color]="'primary'">
    <ion-title>
      OpenEar
    </ion-title>
    <ion-buttons
      slot="end"
      [routerLink]="'/about'"
    >
      <ion-button>
        <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <app-exercise-summary
      *ngFor="let exercise of exerciseList"
      [exercise]="exercise"
    ></app-exercise-summary>
  </ion-list>
</ion-content>
