<ion-header [translucent]="true">
  <ion-toolbar [color]="'primary'">
    <ion-title> OpenEar </ion-title>
    <ion-buttons slot="end">
      <ion-button [href]="'https://discord.gg/FzHGnU4zeE'">
        <ion-icon slot="icon-only" name="logo-discord"></ion-icon>
      </ion-button>
      <ion-button [href]="'https://twitter.com/shuv_har'">
        <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
      </ion-button>
      <ion-button [href]="'https://github.com/ShacharHarshuv/open-ear'">
        <ion-icon slot="icon-only" name="logo-github"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="'/about'">
        <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <app-exercise-summary
      *ngFor="let exercise of exerciseList"
      [exercise]="exercise"
    ></app-exercise-summary>
  </ion-list>
</ion-content>
