body {
  div.mat-menu-panel.bdc-walk-popup {
    .title .header {
      color: var(--ion-color-primary);
    }

    .container {
      background-color: white;
    }

    .buttons button {
      color: white;
      background-color: var(--ion-color-primary);
      border: none;
      font-weight: inherit;
    }
  }
}
