@forward "ion-button";
@forward "ion-content";
@forward "ion-card";
@forward "ion-item";
@forward "ion-list";
@forward "ion-title";
@forward "bdc-walk-popup";
@forward "html";

ion-toggle,
ion-select {
  flex-grow: 0;
}

.above-toaster {
  z-index: 1001 !important;
}
