@use 'main' as *;

ion-content {
  &::part(scroll) {
    display: flex;
    flex-direction: column;
  }

  &.--padding {
    &::part(scroll) {
      padding: {
        right: 2 * $unit;
        left: 2 * $unit;
      };
    }
  }
}
