@use "main" as *;

ion-content {
  &.--padding {
    &::part(scroll) {
      padding: {
        right: 2 * $unit;
        left: 2 * $unit;
      }
    }
  }

  &::part(scroll) {
    // Fixes bug in ionic where padding bottom is too big
    padding-bottom: calc(var(--padding-bottom) + var(--keyboard-offset));
  }
}
